# Configuração do banco de dados PostgreSQL
DATABASE_URL="postgresql://username:password@localhost:5432/mtobras?schema=public"

# Configuração da Porta
PORT=3001

# Segredos JWT (Substitua em produção)
JWT_SECRET="mtobras-super-secret-key-change-in-production"
JWT_REFRESH_SECRET="mtobras-super-secret-refresh-key-change-in-production"
